<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .main_body {
        background-color: antiquewhite;
        font-size: larger;
        text-align: center;
        width: 100vw;
        height: 100vh;
        padding: 5%;
    }
</style>
<body>
    <div class="main_body">
        This page is maintaiend and handled by FreeWare lovers. <br>
        Go through our GitHub page for any information. <br>
        <a href="https://github.com/freewarelovers">GitHub</a>
        
    </div>
</body>
</html>