<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profiles</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body style="background-color: rgb(207, 207, 207);">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">My Profiles</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
    </div>
    <form action="add" method="post">
      {% csrf_token %}
      <div class="jumbotron jumbotron-fluid" style="padding: 5% 20% 5% 20%;">
        <div class="form-group">
          <label for="inputUserName">User Name</label>              
          <input type="text" class="form-control" id="inputUserName" name="inputUserName" placeholder="Enter User Name">
          <small class="form-text text-muted">We'll never share your user name with anyone.</small>
        </div>
        <div class="form-group">
          <label for="inputPassowrd">Password</label>              
          <input type="password" class="form-control" id="inputPassowrd" name="inputPassowrd" placeholder="Enter Password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg" style="position: absolute; left: 45%;">Submit</button>
        <br><br><br><br><br>
      </div>
    </form>
    <div style="position: absolute; bottom: 0%; padding-left: 5%; padding-bottom: 1.5%;">
      <p> &#9742; <a href="/contact">Contact</a></p>
      <p>	&#x1f512; <a href="/privacy">Privacy</a></p>
      <p>	&#9989; <a href="/terms">Terms</a></p>
      <p> &copy Copyrights</p>
    </div>
</body>
</html>